{% load static %}

{% include "layout/header_home.html" %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container" id="divHeader" style="margin-top: 120px;">
                <div class="masthead-subheading" style="margin-top:30px;">Analisa Perbandingan Algoritma</div>
                <div class="masthead-heading text-uppercase">Untuk Perbaikan Kualitas Citra</div>
                <div class="masthead-subheading">Kasus (Metode Histogram & Gaussian Filter)</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ BASE_URL }}login">Login to App</a>
            </div>
        </header>

{% include "layout/footer_home.html" %}